<div class="dropdown dropdown-end" x-data>
    <div tabindex="0" role="button" class="btn btn-ghost btn-sm gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
        </svg>
        <span class="text-xs" x-text="$store.theme.current"></span>
    </div>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-40 p-2 shadow">
        <li><a @click="$store.theme.set('light')">Light</a></li>
        <li><a @click="$store.theme.set('dark')">Dark</a></li>
        <li><a @click="$store.theme.set('cupcake')">Cupcake</a></li>
        <li><a @click="$store.theme.set('corporate')">Corporate</a></li>
        <li><a @click="$store.theme.set('nord')">Nord</a></li>
    </ul>
</div>
