{% load i18n l10n %}

{% with choices.0 as choice %}
    <div class="admin-numeric-filter-wrapper">
        <h3>{% blocktranslate with filter_title=title %}By {{ filter_title }}{% endblocktranslate %}</h3>

        {% if choice.min != None and choice.max != None and choice.step %}
            <div class="admin-numeric-filter-wrapper-group">
                {{ choice.form.as_p }}
            </div>

            <div class="admin-numeric-filter-slider" data-min="{{ choice.min|unlocalize }}" data-max="{{ choice.max|unlocalize }}" data-decimals="{{ choice.decimals }}" data-step="{{ choice.step|unlocalize }}">
            </div>
        {% else %}
            <div class="admin-numeric-filter-slider-error">
                <p>{% translate 'Not enough data.' %}</p>
            </div>
        {% endif %}
    </div>
{% endwith %}
